node_modules/
dist/
build/
coverage/
public/
*.min.js
*.lock
*.log
.env
.env.*
*.local
**/*.svg
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.ico
.DS_Store
yarn-error.log
pnpm-lock.yaml
package-lock.json
npm-debug.log
/.turbo
.next/
out/
/.cache
/.git
/.github
