node_modules/
dist/
build/
coverage/
*.min.js
*.lock
*.log
.env
.env.*
*.local
**/*.svg
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.ico
.DS_Store
pnpm-lock.yaml
package-lock.json
npm-debug.log
/.git
/.github
